<div class="social">
  <a href="https://github.com/lucaseverett" target="_blank"
    ><img src="icons/github.svg" alt="GitHub" /></a
  >
  <a href="https://x.com/lucaseverett" target="_blank"
    ><img src="icons/x-twitter.svg" alt="X (Twitter)" /></a
  >
  <a href="https://www.linkedin.com/in/lucaseverett/" target="_blank"
    ><img src="icons/linkedin.svg" alt="LinkedIn" /></a
  >
</div>
