<div class="flex items-center gap-3">
  {
    [
      {
        href: "https://github.com/lucaseverett",
        label: "GitHub",
        icon: "/icons/github.svg",
      },
      {
        href: "https://x.com/lucaseverett",
        label: "X (Twitter)",
        icon: "/icons/x-twitter.svg",
      },
      {
        href: "https://www.linkedin.com/in/lucaseverett/",
        label: "LinkedIn",
        icon: "/icons/linkedin.svg",
      },
    ].map((link) => (
      <a
        href={link.href}
        target="_blank"
        rel="noreferrer noopener"
        aria-label={link.label}
        class="inline-flex size-10 items-center justify-center rounded-md bg-blue-600 text-white ring-1 ring-inset ring-blue-600/20 transition hover:bg-blue-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500"
      >
        <img src={link.icon} alt="" class="size-5 invert" />
      </a>
    ))
  }
</div>
