<div class="social">
  <a href="https://github.com/lucaseverett" target="_blank"
    ><img src="icons/github.svg" alt="GitHub" />
  </a>
  <a href="https://bsky.app/profile/lucaseverett.dev" target="_blank"
    ><img src="icons/bluesky.svg" alt="Bluesky" />
  </a>
  <a href="https://www.linkedin.com/in/lucaseverett/" target="_blank"
    ><img src="icons/linkedin.svg" alt="LinkedIn" />
  </a>
</div>
