<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Lucas Everett - Open-source developer based in Nashville, Tennessee"
    />
    <title>
      Lucas Everett - Open-source developer based in Nashville, Tennessee
    </title>
    <!--
    LLLLLLLLLLL                  EEEEEEEEEEEEEEEEEEEEEE
    L:::::::::L                  E::::::::::::::::::::E
    L:::::::::L                  E::::::::::::::::::::E
    LL:::::::LL                  EE::::::EEEEEEEEE::::E
      L:::::L                      E:::::E       EEEEEE
      L:::::L                      E:::::E             
      L:::::L                      E::::::EEEEEEEEEE   
      L:::::L                      E:::::::::::::::E   
      L:::::L                      E:::::::::::::::E   
      L:::::L                      E::::::EEEEEEEEEE   
      L:::::L                      E:::::E             
      L:::::L         LLLLLL       E:::::E       EEEEEE
    LL:::::::LLLLLLLLL:::::L     EE::::::EEEEEEEE:::::E
    L::::::::::::::::::::::L     E::::::::::::::::::::E
    L::::::::::::::::::::::L     E::::::::::::::::::::E
    LLLLLLLLLLLLLLLLLLLLLLLL     EEEEEEEEEEEEEEEEEEEEEE
    -->
  </head>
  <body class="font-sans bg-zinc-50 text-zinc-900 antialiased">
    <slot />
  </body>
</html>

<style>
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
